body{
    background-image: url("../img/back.png");
}

form{
    width: 500px;
}

.container{
    margin-top: 50px;
    width: 40%!important;
}

h1{
    text-align: center;
}

button{
    transform: translate(-50%, 0);
    position: relative;
    left: 50%;
}

p{
   font-weight: bold;
    text-align: center;
}

.message{
    font-weight: bold;
    text-align: center;
    color: #f65c06;
}
